@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMedium.otf");
}
.footer {
  border-top: 1px solid #b5aca5;
  background: #f3efec;
  padding: 40px 0;
  margin-top: 150px;

  @media (max-width: 768px) {
    margin-top: 60px;
  }
  &_left {
    width: calc(50% - 126px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width: 1200px) {
      width: calc(47% - 16px);
    }
    @media (max-width: 992px) {
      width: 100%;
      gap: 20px;
    }
  }
  &_content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &_logos {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      li:nth-child(2) a {
        border-right: 0;
      }
    }
    a {
      padding-right: 20px;
      border-right: 1px solid #d4cdc9;
    }
  }
  &_raiting {
    border-radius: 4px;
    border: 1px solid #d4cdc9;
    backdrop-filter: blur(5px);
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    &_info {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &_text {
      color: #706a65;
      font-family: "Segoe UI";
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 9px */
      letter-spacing: -0.27px;
    }
    &_logo {
      display: flex;
      align-items: center;
      gap: 2px;
      color: #0d0d0d;
      text-align: center;
      font-family: "Tenor Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .stars_lists {
      display: flex;
      gap: 2px;
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px 0;
    color: #817b77;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
    border-top: 1px solid #b5aca57c;
    margin-top: 20px;

    @media (max-width: 1200px) {
      gap: 25px;
      & > span {
        flex: 0 0 auto;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      border-top: none;
      margin-top: 10px;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 94px;
      @media (max-width: 1200px) {
        gap: 20px;
        flex-wrap: wrap;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
      }
      a {
        text-decoration: none;
        opacity: 0.5;
        color: #0d0d0d;
        transition: all 0.2s linear;
        @media (max-width: 768px) {
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &_description {
    color: #b5aca5;
    font-family: "Segoe UI";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.36px;
    &.desctop {
      @media (max-width: 768px) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        br {
          display: none;
        }
        .child2 {
          ul {
            flex-wrap: wrap;
            gap: 10px;
          }
          li {
            width: calc(50% - 5px);
          }
        }
      }
    }
  }
  h4 {
    color: #202020;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }
  &_links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    &.mobile {
      display: none;
    }
    @media (max-width: 1200px) {
      width: 53%;
      flex-wrap: wrap;
      gap: 20px;
    }
    @media (max-width: 768px) {
      &.desctop {
        display: none;
      }
      &.mobile {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
        .button_lists {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          align-items: center;
          @media (max-width: 768px) {
            margin-top: 30px;
          }
          .button {
            max-width: 272px;
            width: 100%;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            &:last-child {
              background: #d4c8bf;
            }
          }
        }
        padding-bottom: 20px;
        border-bottom: 1px solid #b5aca57c;
      }
    }
  }
  &_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1200px) {
      width: 45%;
    }

    @media (max-width: 768px) {
      width: 50%;
      padding-left: 20px;
    }
    &:nth-child(1) {
      padding-left: 20px;
      border-left: 1px solid #b5aca5;
      @media (max-width: 1200px) {
        padding-left: 0;
        border: 0;
      }
      @media (max-width: 768px) {
        padding-left: 20px;

        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background: rgba(181, 172, 165, 0.4862745098);
          right: 0;
          top: 0;
        }
      }
    }
    &:nth-child(3) {
      @media (max-width: 1200px) {
        width: 70%;
      }
    }
    &_component {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &.desctop {
        display: flex;
        ul {
          flex-direction: row;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: #0d0d0d;
        font-family: "Segoe UI";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.48px;
        transition: all 0.2s linear;
        @media (max-width: 768px) {
          font-size: 14px;
        }
        &:hover {
          color: #ef472d;
        }
      }
      &.child2 {
        position: relative;
        @media (max-width: 768px) {
          width: 50%;
          ul {
            width: 60%;
          }
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background: #b5aca57c;
            right: 0;
            top: 0;
          }
        }
        ul {
          flex-wrap: wrap;
          display: flex;
          flex-direction: row;
          gap: 10px;
          li {
            width: calc(50% - 5px);
            @media (max-width: 768px) {
              text-align: center;
            }
            img {
              @media (max-width: 768px) {
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    &_component_qr {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 768px) {
        display: none;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }
      img {
        width: 80px;
        height: 80px;
      }
      .button {
        background: #d4c8bf;
      }
    }
  }
}
