.models {
  padding-top: 150px;
  @media (max-width: 768px) {
    padding-top: 60px;
  }
  &_top {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &_filter {
    display: flex;
    justify-content: space-between;
    font-family: "Tenor Sans";
    width: 50%;
    gap: 20px 0;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 14px;
      padding: 14px;
      margin-top: 14px;
    }
    .custom_select {
      position: relative;
      width: calc(33.33% - 10px);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .fil_icon {
      position: relative;
      z-index: 22;
      bottom: 5px;
    }
    .filter_select {
      background: #fff;
      border: 0;
      padding: 0px 0 30px;
      border-bottom: 1.5px solid #202020;
      border-radius: 0;
      color: #0d0d0d;
      .ss-single {
        font-size: 20px;
      }
      &.end {
        .ss-single {
          padding-left: 15px;
        }
      }
    }
    .select_header {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      outline: 0;
      border: none;
      border-bottom: 1.5px solid #202020;
      padding-bottom: 0;
      @media (max-width: 768px) {
        color: #0d0d0d;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.7px;
        padding-bottom: 14px;
        padding-top: 0;
      }

      &_left {
        display: flex;
        gap: 5px;
        width: calc(100% - 30px);
      }
      .select_current {
        user-select: none;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 92%;
        display: block;
      }
    }
    .select_icon {
      width: 12px;
      transition: transform 0.3s ease;
    }
    .select_header_right {
      position: absolute;
      right: 0;
      top: auto;
      bottom: 5px !important;
      height: fit-content;
      z-index: 22;
    }

    .select_body {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      border-top: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      z-index: 10;

      @media (max-width: 768px) {
        position: relative;
      }
      .select_item {
        font-family: "Segoe UI";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        position: relative;
        transition: all 0.2s linear;
        &:hover {
          background: #f3efec;
        }
        &.active {
          &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("../images/check.svg") no-repeat center;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .select_item {
      display: block;
      padding: 10.5px 16px;
      text-decoration: none;
      color: #0d0d0d;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
    .select_item:hover {
      background: #f0f0f0;
    }
    .custom_select.open .select_body {
      max-height: 500px;
      margin-top: 10px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .custom_select.open .select_icon {
      transform: rotate(180deg);
    }
    .models_filter_reset {
      border: none;
      background: none;
      font-family: "Segoe UI";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #0d0d0d;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      align-items: center;
      margin-left: auto;
      opacity: 0.5;
      transition: all 0.2s linear;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px 0;
    margin-top: 40px;
    @media (max-width: 1200px) {
      gap: 40px 0;
    }
    @media (max-width: 768px) {
      margin-top: 10px;
      gap: 20px 0;
    }
  }
  &_item {
    width: calc(50% - 10px);
    position: relative;
    @media (max-width: 992px) {
      width: 100%;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    }
    &:nth-child(n + 5) {
      display: none;
    }

    .tag {
      display: inline-flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #a38a76;
      color: #eee;
      font-family: "Helvetica Neue";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      @media (max-width: 768px) {
        font-size: 14px;
        padding: 14px;
        font-weight: 400;
      }
    }
    .models_item_top {
      position: relative;
      line-height: 0;
      .models_item_navigator {
        position: absolute;
        bottom: 20px;
        padding: 0 20px;
        width: 100%;
        z-index: 12;
        @media (max-width: 768px) {
          padding: 0 10px;
          bottom: 10px;
        }
      }
    }
    .models_img {
      width: 100%;
    }
    &_navigator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      @media (max-width: 768px) {
        align-items: flex-end;
        justify-content: flex-end;
      }
      .model_slide_btnlists {
        display: flex;
        border-radius: 27px;
        background: rgba(243, 239, 236, 0.4);
        @media (max-width: 768px) {
          display: none;
        }
        .btn {
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s linear;
          cursor: pointer;
          border-radius: 50%;
          &:hover {
            background: #f3efec;
          }
        }
      }
      .content_btn {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s linear;
        background: rgba(243, 239, 236, 0.4);
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background: #f3efec;
        }
      }
      .models_left {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .models_img .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .models_gallery_pagination {
      height: 42px;
      width: 55%;
      margin-left: auto;
      margin-right: 0;
      @media (max-width: 768px) {
        display: none;
      }
      .swiper-slide {
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
        text-align: center;
        font-family: "Tenor Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1px;
        position: relative;
      }
    }
    .models_pagination {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 10px;
      z-index: 1223;
      @media (max-width: 768px) {
        display: flex;
      }
      span {
        border-radius: 50%;
        border: 1.2px solid #0d0d0d;
        width: 7px;
        height: 7px;
        background: transparent;
        opacity: 1;
        @media (max-width: 768px) {
          position: relative;
          z-index: 1213;
          cursor: pointer;
        }
      }
      .swiper-pagination-bullet-active {
        background: #000;
      }
    }
    .models_gallery_pagination .swiper-slide-thumb-active img {
      border: 1.5px solid transparent;
      outline: 1.5px solid #0d0d0d;
    }
    .models_gallery_pagination .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .models_gallery_pagination .swiper-slide:hover img {
      border: 1.5px solid #f3efec;
    }
    .models_gallery_pagination .swiper-slide img {
      width: 100%;
      height: calc(100% - 2px);
      object-fit: cover;
      border: 1.5px solid #5a5a5a;
      transition: all 0.2s linear;
    }
    .models_item_body {
      padding: 20px;
      position: relative;
      @media (max-width: 768px) {
        padding: 10px;
      }
      .models_body_top {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .models_sm_title {
          font-family: "Segoe UI";
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          display: flex;
          gap: 5px;
          text-transform: uppercase;
          color: #817b77;
        }
        .models_title {
          font-family: "Tenor Sans";
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
        .models_bodys_content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .color_img {
          width: 32px;
          height: 32px;
          border: 1px solid #5a5a5a;
          display: flex;
          @media (max-width: 768px) {
            position: relative;
            top: -22px;
          }
          .color_item {
            width: 50%;
            height: 100%;
          }
        }
      }
      .models_item_tags {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 70%;
        @media (max-width: 1200px) {
          width: 100%;
        }
        .tag {
          color: #706a65;
          font-family: "Segoe UI";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: -0.42px;
          position: static;
          border-radius: 100px;
          border: 1px solid #beb3ad;
          padding: 10px;
          background: #fff;
          text-transform: none;
          @media (max-width: 768px) {
            font-size: 11.5px;
            padding: 8px;
          }
        }
      }
      .price_lists {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        @media (max-width: 1200px) {
          flex-wrap: wrap;
        }
        @media (max-width: 768px) {
          gap: 10px;
          flex-direction: column-reverse;
          align-items: flex-start;
          margin-top: 5px;
        }
        .price_left {
          color: #0d0d0d;
          font-family: "Segoe UI";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: -0.72px;
          display: flex;
          align-items: center;
          gap: 10px;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
        .old_price {
          text-decoration-line: line-through;
          color: #b5aca5;
        }
      }
      .info_price {
        color: #0d0d0d;
        font-family: "Segoe UI";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.48px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.2s linear;
        @media (max-width: 768px) {
          font-size: 14px;
        }
        svg path {
          transition: all 0.2s linear;
        }
        &:hover {
          color: #ff573d;
          svg path {
            stroke: #ff573d;
          }
        }
        .infos {
          border-radius: 50%;
          background: #f3efec;
          width: 42px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .button_lists {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 5px;
        }
        .button {
          &:not(.black) {
            background: #f3efec;
            @media (max-width: 768px) {
              order: -1;
            }
          }
          @media (max-width: 768px) {
            width: 100%;
            font-size: 14px;
            padding: 14px;
          }
        }
      }
      .characteristic_content {
        position: absolute;
        bottom: 100%;
        z-index: 12;
        left: 0;
        width: 100%;
        background: #fff;
        display: none;
        .tabs_header {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          @media (max-width: 768px) {
            gap: 10px;
          }
          .exit_caracteristic {
            display: flex;
            border-radius: 50%;
            background: #e4dfdb;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            flex: 0 0 auto;
          }
        }
        .tabs {
          display: flex;
          .tab {
            background: rgba(243, 239, 236, 1);
            color: #0d0d0d;
            text-align: center;
            font-family: "Tenor Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -1px;
            outline: none;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            @media (max-width: 768px) {
              padding: 14px;
              font-size: 14px;
            }
            &.active {
              background: #f3efec;
              box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.15);
            }
          }
        }
        .tab-content {
          padding: 20px;
          background: #f3efec;
          @media (max-width: 768px) {
            padding: 10px;
          }
          h4 {
            color: #817b77;
            font-family: "Segoe UI";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.12px;
            text-transform: uppercase;
          }
          h2 {
            color: #0d0d0d;
            font-family: "Tenor Sans";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -1.6px;
            padding: 10px 0;
            @media (max-width: 768px) {
              font-size: 24px;
            }
          }
          h3 {
            color: #817b77;
            font-family: "Tenor Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.96px;
            @media (max-width: 768px) {
              font-size: 20px;
            }
          }

          p {
            color: #0d0d0d;
            font-family: "Segoe UI";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.48px;
            padding-bottom: 40px;
            @media (max-width: 768px) {
              font-size: 14px;
              padding-bottom: 10px;
            }
          }
          .info-table {
            background: #f3efec;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            color: #817b77;
            font-family: "Segoe UI";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.48px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            max-height: 400px;
            overflow-y: auto;
            @media (max-width: 768px) {
              gap: 10px;
              font-size: 14px;
            }
            &::-webkit-scrollbar-thumb {
              background: #817b77;
              border-radius: 100px;
            }
            &::-webkit-scrollbar {
              border-radius: 100px;
              background: #d2c9c4;
              width: 6px;
            }
            div {
              padding-bottom: 20px;
              border-bottom: 1px solid #d2c9c4;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @media (max-width: 768px) {
                padding-bottom: 10px;
              }
              span:last-child {
                color: #0d0d0d;
              }
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding-left: 20px;
            li {
              color: #0d0d0d;
              font-family: "Segoe UI";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: -0.48px;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
        }
        .tab-content:nth-child(2) {
          .info-table {
            height: 100%;
            max-height: 480px;
          }
        }
      }
    }
  }
  .all_content {
    color: #0d0d0d;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid #0d0d0d;
  }
}
