.modal {
  background: rgba(243, 239, 236, 0.8);
  width: 100%;
  position: fixed;
  z-index: 222;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px 15px;
  overflow-y: auto;
  display: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &.thanks {
    display: none;
  }
  &.modal_2 {
    .forms_img {
      img {
        @media (max-width: 768px) {
          height: 220px;
          object-fit: contain;
        }
      }
    }
  }
  .close_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      background: rgba(228, 223, 219, 0.8) !important;
      top: 0;
      right: 0;
    }
  }

  .container {
    max-width: 994px;
    background: #fff;
    padding: 0;
    position: relative;
    @media (max-width: 768px) {
      gap: 0;
    }
    .forms_img {
      @media (max-width: 768px) {
        img {
          height: 220px;
          object-fit: cover;
        }
      }
    }
    .section_title {
      @media (max-width: 768px) {
        font-size: 36px !important;
      }
    }
    .forms_img {
      line-height: 0;
    }
    .form {
      padding: 40px 40px 40px 20px;
      @media (max-width: 768px) {
        padding: 20px 10px;
      }
      .section_title {
        font-size: 48px;
      }
    }
  }
  .thanks_content {
    width: calc(100% - 20px);
    max-width: 497px;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    .close_modal {
      background: #fff;
    }
    .section_title {
      color: #0d0d0d;
      text-align: center;
      font-family: "Tenor Sans";
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      letter-spacing: -3.2px;
      @media (max-width: 768px) {
        font-size: 36px;
      }
    }
    .modal_description {
      color: #0d0d0d;
      text-align: center;
      font-family: "Tenor Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.96px;
      margin-top: 10px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    .button {
      margin-top: 20px;
    }
  }
}
