// fonts
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import "../fonts/style.css";
// files
@import "header.scss";
@import "hero.scss";
@import "promotion.scss";
@import "models.scss";
@import "forms.scss";
@import "offer.scss";
@import "social.scss";
@import "contact.scss";
@import "footer.scss";
@import "modal.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #0d0d0d;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}
.button {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  padding: 16px 20px;
  background: #fff4e2;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  outline: none;
  cursor: pointer;
  border: none;
  &.black {
    background: #0d0d0d;
    color: #fff;
    transition: all 0.3s linear;
    &:hover {
      background: #ff573d;
    }
  }
}
.section_title {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.4px;
  @media (max-width: 768px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
}
.custom_checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.custom_checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #f3efec;
  cursor: pointer;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #817b77;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s ease;
}

.custom_checkbox input:checked + .checkmark::after {
  opacity: 1;
}

.fancybox__container {
  z-index: 100000 !important;
}
.ss-main:focus {
  box-shadow: 0 0 0;
}
.ss-search {
  display: none !important;
}
.ss-list {
  padding: 10px 10px 10px 0px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0 !important;
  overflow-y: auto;
  max-height: 190px;
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #817b77;
    width: 10px;
  }
  &::-webkit-scrollbar {
    background: #d2c9c4;
    width: 6px;
    border-radius: 100px;
  }
}
.ss-main .ss-values {
  margin-left: -3px;
}
.ss-option {
  padding: 10px 16px;
  font-family: "Segoe UI" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  color: #0d0d0d !important;
  &:hover {
    background: #f3efec !important;
  }

  .ss-single {
    font-family: "Segoe UI" !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: -4px !important;
    margin: auto 0px auto 0 !important;
  }
  &.ss-selected {
    position: relative;
    background: #fff !important;
    color: #0d0d0d;
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M3 8.11111L6.75 12L13 5' stroke='%230D0D0D' stroke-width='2' stroke-linecap='square'/></svg>");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      background: #f3efec !important;
    }
  }
}

.slimSelect {
  position: relative;
  .ss-single {
    padding-bottom: 18px;
    @media (max-width: 992px) {
      padding-bottom: 0px;
      font-size: 14px;
    }
  }
  .select_header {
    @media (max-width: 992px) {
      padding-bottom: 0;
    }
  }
  .select_header_right {
    position: absolute;
    right: 0;
    bottom: 20px;
    background: #fff;
  }
  .ss-arrow {
    display: none !important;
  }
}
