@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import "../fonts/style.css";
.header {
  padding: 28px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 2221;
}
@media (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: #0d0d0d;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.3s linear;
}
.header__mobile .exit_menu {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile {
    background: #f3efec;
    padding: 108px 26px 86px;
    max-width: 280px;
    height: 100vh;
    position: fixed;
    top: 44px;
    left: -100%;
    transition: all 0.3s linear;
    z-index: 222;
  }
  .header__mobile::-webkit-scrollbar {
    display: none;
  }
  .header__mobile_bottom {
    margin-top: 80px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: #817b77;
    width: calc(100% + 17px);
  }
  .header__mobile .exit_menu {
    position: absolute;
    top: 40px;
    right: -48px;
    width: 48px;
    height: 48px;
    background: #f3efec;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
  }
}
.header__mobile.open {
  left: 0;
}
.header__mobile_bottom {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile_bottom {
    display: block;
  }
}
.header__raiting {
  border-radius: 5.969px;
  border: 1px solid #d4cdc9;
  background: #f3efec;
  margin-top: 20px;
  padding: 10px;
  display: none;
}
@media (max-width: 768px) {
  .header__raiting {
    display: block;
  }
}
.header__raiting_logo {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}
.header__raiting_text {
  color: #706a65;
  font-family: "Segoe UI";
  font-size: 11.5px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}
.header__raiting .stars_lists {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header__raiting_info {
  display: flex;
  gap: 10px;
}
.header__social {
  display: none;
}
@media (max-width: 768px) {
  .header__social {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
}
.header__location {
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: none;
}
@media (max-width: 768px) {
  .header__location {
    display: block;
  }
}
.header__hamburger {
  display: none;
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
  width: 24px;
}
.header__hamburger.open span {
  position: absolute;
  inset: 0;
  margin: auto;
}
.header__hamburger.open span:first-child {
  transform: rotate(45deg);
}
.header__hamburger.open span:nth-child(2) {
  display: none;
}
.header__hamburger.open span:last-child {
  transform: rotate(-45deg);
}
.header__hamburger span {
  display: block;
  width: 24px;
  height: 1.5px;
  background: #202020;
  margin-bottom: 5px;
  transition: all 0.3s linear;
}
.header__hamburger span:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .header__hamburger {
    display: block;
  }
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .header__nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__nav li {
  list-style: none;
}
.header__nav a:hover {
  color: #ef472d;
}
@media (max-width: 768px) {
  .header__nav a {
    color: #0d0d0d;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 21.6px */
    letter-spacing: -1.2px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header__logo a:first-child {
  padding-right: 10px;
  border-right: 0.5px solid #0d0d0d;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.42px;
}
@media (max-width: 992px) {
  .header__contacts span {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
.header__phone.mobile {
  display: none;
}
@media (max-width: 768px) {
  .header__phone.mobile {
    display: block;
  }
}
.header__btn {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
  border-bottom: 1px solid #0d0d0d;
  padding-bottom: 2px;
}
@media (max-width: 992px) {
  .header__btn {
    display: none;
  }
}

.hero {
  padding-top: 80px;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 40px;
  }
}
.hero .swiper-slide picture img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .hero .swiper-slide picture img {
    width: 130%;
  }
}
@media (max-width: 992px) {
  .hero .swiper-slide picture img {
    width: 160%;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .hero .swiper-slide picture img {
    height: 640px;
  }
}
@media (max-width: 768px) {
  .hero .swiper-slide picture img {
    height: 640px;
    min-width: 100%;
    object-fit: cover;
  }
}
.hero_content {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .hero_content {
    left: 10px;
    transform: translate(0%, -50%);
  }
}
@media (max-width: 768px) {
  .hero_content {
    display: flex;
    flex-direction: column;
    transform: translate(0%, 0%);
    left: 0;
    top: 40px;
    padding: 0 20px;
    height: calc(100% - 100px);
    justify-content: space-between;
    width: 100%;
  }
}
.hero_top_title {
  color: #fffcf7;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hero_top_title {
    text-align: center;
  }
}
.hero_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 40px;
  z-index: 11;
  width: 100%;
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  .hero_bottom {
    justify-content: center;
    bottom: 20px;
  }
  .hero_bottom .hero_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.hero_bottom .container {
  max-width: 1246px;
}
.hero_bottom .btn {
  border-radius: 50%;
  border: 1.5px solid #d2c9c4;
  display: flex;
  width: 56px;
  height: 56px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}
.hero_bottom .btn_lists {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .hero_bottom .btn_lists {
    display: none;
  }
}
.hero_bottom .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  background: transparent;
  border: 1.5px solid #fff4e2;
  flex: 0 0 auto;
  display: inline-block;
}
.hero_bottom .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff4e2;
}
.hero_prices {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
  color: #fff4e2;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 768px) {
  .hero_prices {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    order: 2;
    font-size: 20px;
    text-align: center;
  }
}
.hero_prices span:nth-child(2) {
  color: rgba(243, 239, 236, 0.5);
  text-decoration-line: line-through;
}
@media (max-width: 768px) {
  .hero .button {
    margin: 0 auto;
    order: 3;
    width: 100%;
  }
}
.hero_price_lists {
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: #fff2dd;
  list-style: none;
  margin-top: 40px;
  color: #fff2dd;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.hero_price_lists.mobile {
  display: none;
}
@media (max-width: 768px) {
  .hero_price_lists {
    order: 2;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    gap: 5.5px;
  }
  .hero_price_lists.desctop {
    display: none;
  }
  .hero_price_lists.mobile {
    display: flex;
  }
}
@media (max-width: 768px) {
  .hero_price_lists li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.hero h2 {
  color: #fffcf7;
  font-family: "Tenor Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  max-width: 610px;
}
@media (max-width: 768px) {
  .hero h2 {
    color: #fffcf7;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -1.8px;
    order: 1;
    max-width: 100%;
  }
}
.hero h2 span {
  color: #ff6750;
}

.promotion {
  padding-top: 150px;
}
@media (max-width: 1200px) {
  .promotion {
    padding-top: 100px;
  }
}
@media (max-width: 992px) {
  .promotion {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .promotion {
    padding-top: 60px;
  }
}
.promotion_content_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.promotion ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .promotion ul {
    gap: 20px 0;
  }
}
@media (max-width: 768px) {
  .promotion ul {
    gap: 10px 0;
    margin-top: 20px;
  }
}
.promotion li {
  background: #f3efec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 10px);
  gap: 32px;
}
@media (max-width: 1200px) {
  .promotion li {
    width: calc(33% - 10px);
  }
}
@media (max-width: 992px) {
  .promotion li {
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .promotion li {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    gap: 10px;
  }
}
.promotion li .promotion_btn {
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.42px;
  border-radius: 100px;
  border: 1px solid #d2c9c4;
  padding: 10px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.promotion li img {
  width: 100%;
  object-fit: contain;
}
.promotion_title {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.96px;
}
@media (max-width: 768px) {
  .promotion_title {
    font-size: 20px;
  }
}
.promotion_content_top {
  padding: 40px 40px 0;
}
@media (max-width: 1445px) {
  .promotion_content_top {
    padding: 30px 20px 0;
  }
}
@media (max-width: 768px) {
  .promotion_content_top {
    padding: 10px;
  }
}

.models {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .models {
    padding-top: 60px;
  }
}
.models_top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .models_top {
    flex-direction: column;
  }
}
.models_filter {
  display: flex;
  justify-content: space-between;
  font-family: "Tenor Sans";
  width: 50%;
  gap: 20px 0;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .models_filter {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .models_filter {
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    margin-top: 14px;
  }
}
.models_filter .custom_select {
  position: relative;
  width: calc(33.33% - 10px);
}
@media (max-width: 768px) {
  .models_filter .custom_select {
    width: 100%;
  }
}
.models_filter .select_header {
  background: #fff;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  outline: 0;
  border: none;
  border-bottom: 1.5px solid #202020;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .models_filter .select_header {
    color: #0d0d0d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.7px;
    padding-bottom: 14px;
    padding-top: 0;
  }
}
.models_filter .select_header_left {
  display: flex;
  gap: 5px;
  width: calc(100% - 30px);
}
.models_filter .select_header .select_current {
  user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 92%;
  display: block;
}
.models_filter .select_icon {
  width: 12px;
  transition: transform 0.3s ease;
}
.models_filter .select_body {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
}
@media (max-width: 768px) {
  .models_filter .select_body {
    position: relative;
  }
}
.models_filter .select_body .select_item {
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  transition: all 0.2s linear;
}
.models_filter .select_body .select_item:hover {
  background: #f3efec;
}
.models_filter .select_body .select_item.active::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/check.svg") no-repeat center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.models_filter .select_item {
  display: block;
  padding: 10.5px 16px;
  text-decoration: none;
  color: #0d0d0d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.models_filter .select_item:hover {
  background: #f0f0f0;
}
.models_filter .custom_select.open .select_body {
  max-height: 500px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.models_filter .custom_select.open .select_icon {
  transform: rotate(180deg);
}
.models_filter .models_filter_reset {
  border: none;
  background: none;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #0d0d0d;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: center;
  margin-left: auto;
  opacity: 0.5;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .models_filter .models_filter_reset {
    margin: 0 auto;
  }
}
.models_filter .models_filter_reset:hover {
  opacity: 1;
}
.models_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px 0;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .models_items {
    gap: 40px 0;
  }
}
@media (max-width: 768px) {
  .models_items {
    margin-top: 10px;
    gap: 20px 0;
  }
}
.models_item {
  width: calc(50% - 10px);
  position: relative;
}
@media (max-width: 992px) {
  .models_item {
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
  }
}
.models_item .tag {
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #a38a76;
  color: #eee;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.models_item .models_item_top {
  position: relative;
  line-height: 0;
}
.models_item .models_item_top .models_item_navigator {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  width: 100%;
  z-index: 12;
}
@media (max-width: 768px) {
  .models_item .models_item_top .models_item_navigator {
    padding: 0 10px;
    bottom: 10px;
  }
}
.models_item .models_img {
  width: 100%;
}
.models_item_navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .models_item_navigator {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.models_item_navigator .model_slide_btnlists {
  display: flex;
  border-radius: 27px;
  background: rgba(243, 239, 236, 0.4);
}
@media (max-width: 768px) {
  .models_item_navigator .model_slide_btnlists {
    display: none;
  }
}
.models_item_navigator .model_slide_btnlists .btn {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 50%;
}
.models_item_navigator .model_slide_btnlists .btn:hover {
  background: #f3efec;
}
.models_item_navigator .content_btn {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  background: rgba(243, 239, 236, 0.4);
  cursor: pointer;
  border-radius: 50%;
}
.models_item_navigator .content_btn:hover {
  background: #f3efec;
}
.models_item_navigator .models_left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.models_item .models_img .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.models_item .modesl_gallery_pagination {
  height: 42px;
  width: 55%;
  margin-left: auto;
  margin-right: 0;
}
@media (max-width: 768px) {
  .models_item .modesl_gallery_pagination {
    display: none;
  }
}
.models_item .modesl_gallery_pagination .swiper-slide {
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  position: relative;
}
.models_item .models_pagination {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  z-index: 1223;
}
@media (max-width: 768px) {
  .models_item .models_pagination {
    display: flex;
  }
}
.models_item .models_pagination span {
  border-radius: 50%;
  border: 1.2px solid #0d0d0d;
  width: 7px;
  height: 7px;
  background: transparent;
  opacity: 1;
}
@media (max-width: 768px) {
  .models_item .models_pagination span {
    position: relative;
    z-index: 1213;
    cursor: pointer;
  }
}
.models_item .models_pagination .swiper-pagination-bullet-active {
  background: #000;
}
.models_item .modesl_gallery_pagination .swiper-slide-thumb-active img {
  border: 1.5px solid transparent;
  outline: 1.5px solid #0d0d0d;
}
.models_item .modesl_gallery_pagination .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.models_item .modesl_gallery_pagination .swiper-slide:hover img {
  border: 1.5px solid #f3efec;
}
.models_item .modesl_gallery_pagination .swiper-slide img {
  width: 100%;
  height: calc(100% - 2px);
  object-fit: cover;
  border: 1.5px solid #5a5a5a;
  transition: all 0.2s linear;
}
.models_item .models_item_body {
  padding: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .models_item .models_item_body {
    padding: 10px;
  }
}
.models_item .models_item_body .models_body_top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.models_item .models_item_body .models_body_top .models_sm_title {
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
  color: #817b77;
}
.models_item .models_item_body .models_body_top .models_title {
  font-family: "Tenor Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 768px) {
  .models_item .models_item_body .models_body_top .models_title {
    font-size: 20px;
  }
}
.models_item .models_item_body .models_body_top .models_bodys_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.models_item .models_item_body .models_body_top .color_img {
  width: 32px;
  height: 32px;
  border: 1px solid #5a5a5a;
  display: flex;
}
.models_item .models_item_body .models_body_top .color_img .color_item {
  width: 50%;
  height: 100%;
}
.models_item .models_item_body .models_item_tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 70%;
}
@media (max-width: 1200px) {
  .models_item .models_item_body .models_item_tags {
    width: 100%;
  }
}
.models_item .models_item_body .models_item_tags .tag {
  color: #706a65;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.42px;
  position: static;
  border-radius: 100px;
  border: 1px solid #beb3ad;
  padding: 10px;
  background: #fff;
  text-transform: none;
}
@media (max-width: 768px) {
  .models_item .models_item_body .models_item_tags .tag {
    font-size: 11.5px;
    padding: 8px;
  }
}
.models_item .models_item_body .price_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
@media (max-width: 1200px) {
  .models_item .models_item_body .price_lists {
    flex-wrap: wrap;
  }
}
.models_item .models_item_body .price_lists .price_left {
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .models_item .models_item_body .price_lists .price_left {
    font-size: 20px;
  }
}
.models_item .models_item_body .price_lists .old_price {
  text-decoration-line: line-through;
  color: #b5aca5;
}
.models_item .models_item_body .info_price {
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .models_item .models_item_body .info_price {
    font-size: 14px;
  }
}
.models_item .models_item_body .info_price svg path {
  transition: all 0.2s linear;
}
.models_item .models_item_body .info_price:hover {
  color: #ff573d;
}
.models_item .models_item_body .info_price:hover svg path {
  stroke: #ff573d;
}
.models_item .models_item_body .info_price .infos {
  border-radius: 50%;
  background: #f3efec;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.models_item .models_item_body .button_lists {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .models_item .models_item_body .button_lists {
    flex-direction: column;
    gap: 5px;
  }
}
.models_item .models_item_body .button_lists .button:not(.black) {
  background: #f3efec;
}
@media (max-width: 768px) {
  .models_item .models_item_body .button_lists .button {
    width: 100%;
    font-size: 14px;
    padding: 14px;
  }
}
.models_item .models_item_body .characteristic_content {
  position: absolute;
  bottom: 100%;
  z-index: 12;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
}
.models_item .models_item_body .characteristic_content .tabs_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tabs_header {
    gap: 10px;
  }
}
.models_item .models_item_body .characteristic_content .tabs_header .exit_caracteristic {
  display: flex;
  border-radius: 50%;
  background: #e4dfdb;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 auto;
}
.models_item .models_item_body .characteristic_content .tabs {
  display: flex;
}
.models_item .models_item_body .characteristic_content .tabs .tab {
  background: rgb(243, 239, 236);
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  outline: none;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tabs .tab {
    padding: 14px;
    font-size: 14px;
  }
}
.models_item .models_item_body .characteristic_content .tabs .tab.active {
  background: #f3efec;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.models_item .models_item_body .characteristic_content .tab-content {
  padding: 20px;
  background: #f3efec;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content {
    padding: 10px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content h4 {
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.models_item .models_item_body .characteristic_content .tab-content h2 {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.6px;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content h2 {
    font-size: 24px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content h3 {
  color: #817b77;
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.96px;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content h3 {
    font-size: 20px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content p {
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content p {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content .info-table {
  background: #f3efec;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  max-height: 364px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content .info-table {
    gap: 10px;
    font-size: 14px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content .info-table::-webkit-scrollbar-thumb {
  background: #817b77;
  border-radius: 100px;
}
.models_item .models_item_body .characteristic_content .tab-content .info-table::-webkit-scrollbar {
  border-radius: 100px;
  background: #d2c9c4;
  width: 6px;
}
.models_item .models_item_body .characteristic_content .tab-content .info-table div {
  padding-bottom: 20px;
  border-bottom: 1px solid #d2c9c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content .info-table div {
    padding-bottom: 10px;
  }
}
.models_item .models_item_body .characteristic_content .tab-content .info-table div span:last-child {
  color: #0d0d0d;
}
.models_item .models_item_body .characteristic_content .tab-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}
.models_item .models_item_body .characteristic_content .tab-content ul li {
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
}
@media (max-width: 768px) {
  .models_item .models_item_body .characteristic_content .tab-content ul li {
    font-size: 14px;
  }
}
.models .all_content {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  margin: 0 auto;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid #0d0d0d;
}

.forms {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .forms {
    padding-top: 60px;
  }
}
.forms .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  .forms .container {
    flex-direction: column;
  }
}
.forms .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(49% - 10px);
}
@media (max-width: 992px) {
  .forms .form {
    width: 100%;
  }
}
.forms .form .form_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.forms .form .form_top .form_description {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.96px;
}
@media (max-width: 992px) {
  .forms .form .form_top .form_description {
    font-size: 18px;
    text-align: center;
  }
  .forms .form .form_top .form_description br {
    display: none;
  }
}
@media (max-width: 768px) {
  .forms .form .form_top .form_description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
.forms .form .form_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 992px) {
  .forms .form .form_content {
    margin-top: 24px;
    gap: 14px;
  }
}
.forms .form .form_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 992px) {
  .forms .form .form_inputs {
    gap: 14px;
  }
}
.forms .form .form_inputs .select_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #d2c9c4;
  color: #817b77;
}
@media (max-width: 992px) {
  .forms .form .form_inputs .select_header {
    padding-bottom: 14px;
  }
}
.forms .form .form_inputs .select_header.input {
  border-bottom: 0;
  padding-bottom: 0;
}
.forms .form .form_inputs .select_header.input input {
  width: 100%;
  height: 40px;
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
  outline: none;
  border: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #d2c9c4;
}
@media (max-width: 992px) {
  .forms .form .form_inputs .select_header.input input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
.forms .form .form_inputs .select_header.input .select_header_right {
  position: absolute;
  right: 0;
  bottom: 15px;
}
.forms .form .form_inputs .select_header .select_header_right {
  display: flex;
  display: flex;
  width: 129px;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 992px) {
  .forms .form .form_inputs .select_header .select_header_right {
    font-size: 11.5px;
    line-height: 100%;
    width: 93px;
  }
}
.forms .form .form_inputs .select-trigger {
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
}
@media (max-width: 992px) {
  .forms .form .form_inputs .select-trigger {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
.forms .form .form_inputs .custom-select-wrapper {
  width: 100%;
  position: relative;
}
.forms .form .form_inputs .custom-select {
  position: relative;
  background: #fff;
}
.forms .form .form_inputs .custom-select.open {
  color: #0d0d0d !important;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.forms .form .form_inputs .options {
  display: none;
  max-height: 190px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding-right: 8px;
}
.forms .form .form_inputs .options::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #817b77;
  width: 10px;
}
.forms .form .form_inputs .options::-webkit-scrollbar {
  background: #d2c9c4;
  width: 6px;
  border-radius: 100px;
}
.forms .form .form_inputs .option {
  padding: 10px;
  transition: 0.2s;
  position: relative;
  transition: all 0.2s linear;
  cursor: pointer;
}
.forms .form .form_inputs .option:hover {
  background: #f3efec;
}
.forms .form .form_inputs .option:hover {
  background: #f1edeb;
}
.forms .form .form_inputs .option.selected::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M3 8.11111L6.75 12L13 5' stroke='%230D0D0D' stroke-width='2' stroke-linecap='square'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}
.forms .forms_img {
  width: calc(51% - 10px);
}
@media (max-width: 992px) {
  .forms .forms_img {
    width: 100%;
  }
}
.forms .forms_img img {
  width: 100%;
  object-fit: contain;
}
.forms .form_bottom {
  display: flex;
  flex-direction: column;
}
.forms .form_bottom label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.forms .form_bottom label .custom_checkbox {
  flex: 0 0 auto;
}
.forms .form_bottom label p {
  color: #b5aca5;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
}
.forms .form_bottom label p a {
  color: inherit;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .forms .form_bottom button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .forms .form_bottom button {
    font-size: 14px;
    padding: 14px;
  }
}

.offer {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .offer {
    padding-top: 60px;
  }
}
.offer .container {
  gap: 20px;
}
@media (max-width: 768px) {
  .offer .container {
    flex-wrap: wrap;
    gap: 10px 10px;
  }
}
.offer_title {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.6px;
}
@media (max-width: 1200px) {
  .offer_title {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .offer_title {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .offer_title {
    color: #0d0d0d;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -1.2px;
    width: 100%;
  }
}
.offer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer .offer_img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .offer .offer_img {
    width: 100%;
    gap: 10px;
  }
  .offer .offer_img:first-child {
    width: calc(50% - 5px);
    align-items: flex-end;
    order: 1;
  }
  .offer .offer_img:last-child {
    width: calc(50% - 5px);
    align-items: start;
    order: 2;
  }
  .offer .offer_img:last-child img:nth-child(1) {
    width: 50%;
  }
  .offer .offer_img:last-child img:nth-child(2) {
    width: 100%;
  }
  .offer .offer_img img {
    width: 100%;
    object-fit: contain;
  }
  .offer .offer_img img:nth-child(2) {
    width: 50%;
  }
}
.offer .check_description {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.offer .check_description .custom_checkbox {
  flex: 0 0 auto;
}
.offer .check_description p {
  color: #b5aca5;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
}
@media (max-width: 768px) {
  .offer .check_description p {
    color: #b5aca5;
    leading-trim: both;
    text-edge: cap;
    font-family: "Segoe UI";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.3px;
  }
}
.offer .offer_form_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .offer .offer_form_bottom {
    margin-top: 14px;
  }
}
.offer .offer_form_bottom .button {
  background: #f3efec;
}
@media (max-width: 768px) {
  .offer .offer_form_bottom .button {
    width: 100%;
    font-size: 14px;
    padding: 14px;
  }
}
.offer .offer_form {
  width: 538px;
}
@media (max-width: 768px) {
  .offer .offer_form {
    order: 3;
    width: 100%;
  }
}
.offer .offer_form .offer_form_inputs {
  position: relative;
  margin-top: 40px;
  display: block;
}
@media (max-width: 768px) {
  .offer .offer_form .offer_form_inputs {
    margin-top: 10px;
  }
}
.offer .offer_form input {
  width: 100%;
  background: #fff;
  border: none;
  padding-bottom: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.48px;
  border-bottom: 1px solid #d2c9c4;
  outline: none;
}
@media (max-width: 768px) {
  .offer .offer_form input {
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.offer .offer_form .tel_title {
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
@media (max-width: 768px) {
  .offer .offer_form .tel_title {
    font-size: 14px;
    bottom: 14px;
  }
}

.social {
  padding-top: 150px;
  /* QR section */
  /* Rating section */
}
@media (max-width: 1200px) {
  .social {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .social {
    padding-top: 60px;
  }
}
.social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 992px) {
  .social .container {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .social .container {
    gap: 10px;
    padding: 0px 10px 0;
  }
}
.social .socials {
  position: relative;
  width: calc(50% - 137px);
}
@media (max-width: 992px) {
  .social .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.social .socials::before, .social .socials::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #d2c9c4 0%, #8a7f79 60%, rgba(82, 82, 82, 0) 100%);
}
.social .socials::before {
  top: 0;
}
@media (max-width: 768px) {
  .social .socials::before {
    top: 83px;
    transform: rotate(90deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 52%;
  }
}
.social .socials::after {
  bottom: 0;
}
@media (max-width: 768px) {
  .social .socials::after {
    bottom: 0;
    top: 67px;
    margin: auto;
    left: 0;
    right: 0;
    width: 69%;
  }
}
.social .socials .section_title {
  margin-top: 55px;
}
@media (max-width: 1240px) {
  .social .socials .section_title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .social .socials .section_title {
    font-size: 24px;
    width: 100%;
    margin-top: 0;
  }
}
.social .icons {
  display: flex;
  gap: 40px;
  margin-top: 26px;
  padding-bottom: 55px;
}
@media (max-width: 1240px) {
  .social .icons {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .social .icons {
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .social .icons {
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    padding-bottom: 0px;
  }
}
.social .icon {
  text-align: center;
  text-decoration: none;
  width: 80px;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .social .icon {
    width: calc(50% - 5px);
    padding: 10px 0;
  }
}
.social .icon img {
  width: 56px;
  height: 56px;
}
.social .label {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: black;
}
.social .qr-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social .qr-section .button {
  margin-top: 10px;
}
.social .qr-caption {
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .social .qr-caption {
    display: none;
  }
}
@media (max-width: 768px) {
  .social .qr-code {
    display: none;
  }
}
.social .button.black {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .social .button.black {
    margin-top: 0;
  }
}
.social .rating {
  text-align: left;
  position: relative;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: right;
  width: calc(50% - 137px);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .social .rating {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .social .rating {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.social .rating .rating_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 487px;
}
.social .rating::before, .social .rating::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #d2c9c4 0%, #8a7f79 60%, rgba(82, 82, 82, 0) 100%);
}
.social .rating::before {
  top: 0;
}
.social .rating::after {
  bottom: 0;
}
.social .rating img {
  object-fit: contain;
  margin-left: 0;
  width: 100%;
  object-fit: contain;
}
.social .stars {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1240px) {
  .social .stars {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .social .stars {
    gap: 10px;
  }
}
.social .rate {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 57.6px */
  letter-spacing: -3.2px;
}
@media (max-width: 768px) {
  .social .rate {
    font-size: 36px;
  }
}
.social .stars-emoji {
  color: #f8cd46;
  font-family: "Tenor Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 1240px) {
  .social .stars-emoji {
    gap: 2px;
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  .social .stars-emoji {
    font-size: 40px;
    gap: 5px;
  }
}
.social .text {
  margin: 10px 0 32px;
  color: #4f4f4f;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  line-height: 100%;
  letter-spacing: -0.6px;
}
@media (max-width: 768px) {
  .social .text {
    margin: 5px 0 10px;
    font-size: 14px;
  }
}
.social .maps {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.social .maps img {
  width: 20px;
  height: 20px;
}

.contact {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .contact {
    padding-top: 60px;
  }
  .contact .section_title {
    text-align: left;
  }
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contact .container {
    flex-direction: column;
    gap: 0px;
  }
}
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 10px);
}
@media (max-width: 1200px) {
  .contact_info {
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .contact_info {
    width: 100%;
    gap: 0px;
  }
}
.contact_lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 992px) {
  .contact_lists {
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .contact_lists {
    margin-top: 34px;
  }
}
.contact_list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2c9c4;
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
}
@media (max-width: 1200px) {
  .contact_list {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .contact_list {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .contact_list {
    padding-bottom: 14px;
    font-size: 14px;
    align-items: center;
  }
}
.contact_list_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .contact_list_left {
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .contact_list_left img {
    width: 16px;
    line-height: 0;
  }
}
.contact_list a {
  text-decoration: none;
  color: #0d0d0d;
}
.contact_title {
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
}
@media (max-width: 768px) {
  .contact_title {
    font-size: 11.5px;
  }
}
.contact_bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 992px) {
  .contact_bottom {
    gap: 20px;
    flex-direction: column-reverse;
    position: relative;
    bottom: -30px;
    z-index: 22;
  }
}
.contact .footer_raiting {
  border-radius: 7.006px;
  background: #f3efec;
  padding: 10px;
  width: fit-content;
  gap: 8px;
}
@media (max-width: 992px) {
  .contact .footer_raiting {
    position: relative;
    top: 45px;
    left: 5px;
    background: #fff;
  }
}
.contact .footer_raiting .footer_raiting_text {
  font-size: 14.012px;
}
@media (max-width: 768px) {
  .contact .footer_raiting .footer_raiting_text {
    font-size: 12px;
  }
}
.contact .footer_raiting .stars_lists img {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .contact .footer_raiting .footer_raiting_logo img {
    display: none;
  }
}
.contact .map {
  position: relative;
  width: calc(50% - 10px);
}
@media (max-width: 992px) {
  .contact .map {
    width: 100%;
  }
}
.contact .map_img {
  width: 100%;
  object-fit: cover;
}
.contact .map .logo {
  position: absolute;
  top: -60px;
  right: 20px;
  z-index: 12;
}
@media (max-width: 992px) {
  .contact .map .logo {
    top: -23px;
    right: 10px;
  }
}
@media (max-width: 992px) {
  .contact .map .logo img {
    width: 75px;
  }
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMedium.otf");
}
.footer {
  border-top: 1px solid #b5aca5;
  background: #f3efec;
  padding: 40px 0;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 60px;
  }
}
.footer_left {
  width: calc(50% - 126px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .footer_left {
    width: calc(47% - 16px);
  }
}
@media (max-width: 992px) {
  .footer_left {
    width: 100%;
    gap: 20px;
  }
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer_content {
    flex-direction: column;
    gap: 20px;
  }
}
.footer_logos {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer_logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .footer_logos li:nth-child(2) a {
    border-right: 0;
  }
}
.footer_logos a {
  padding-right: 20px;
  border-right: 1px solid #d4cdc9;
}
.footer_raiting {
  border-radius: 4px;
  border: 1px solid #d4cdc9;
  backdrop-filter: blur(5px);
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.footer_raiting_info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer_raiting_text {
  color: #706a65;
  font-family: "Segoe UI";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 9px */
  letter-spacing: -0.27px;
}
.footer_raiting_logo {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.footer_raiting_logo img {
  width: 20px;
  height: 20px;
}
.footer_raiting .stars_lists {
  display: flex;
  gap: 2px;
}
.footer_raiting .stars_lists img {
  width: 14px;
  height: 14px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 0;
  color: #817b77;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
  border-top: 1px solid rgba(181, 172, 165, 0.4862745098);
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .footer_bottom {
    gap: 25px;
  }
  .footer_bottom > span {
    flex: 0 0 auto;
  }
}
@media (max-width: 768px) {
  .footer_bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-top: none;
    margin-top: 10px;
  }
}
.footer_bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 94px;
}
@media (max-width: 1200px) {
  .footer_bottom ul {
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer_bottom ul {
    flex-direction: column;
    gap: 10px;
  }
}
.footer_bottom ul a {
  text-decoration: none;
  opacity: 0.5;
  color: #0d0d0d;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .footer_bottom ul a {
    opacity: 1;
  }
}
.footer_bottom ul a:hover {
  opacity: 1;
}
.footer_description {
  color: #b5aca5;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
}
@media (max-width: 768px) {
  .footer_description.desctop {
    display: none;
  }
}
.footer_description.mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer_description.mobile {
    display: block;
    width: 100%;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
  }
  .footer_description.mobile br {
    display: none;
  }
  .footer_description.mobile .child2 ul {
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer_description.mobile .child2 li {
    width: calc(50% - 5px);
  }
}
.footer h4 {
  color: #202020;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.footer_links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer_links.mobile {
  display: none;
}
@media (max-width: 1200px) {
  .footer_links {
    width: 53%;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer_links.desctop {
    display: none;
  }
  .footer_links.mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(181, 172, 165, 0.4862745098);
  }
  .footer_links.mobile .button_lists {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
  }
  .footer_links.mobile .button_lists .button {
    max-width: 272px;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .footer_links.mobile .button_lists .button:last-child {
    background: #d4c8bf;
  }
}
.footer_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1200px) {
  .footer_item {
    width: 45%;
  }
}
.footer_item:nth-child(1) {
  padding-left: 20px;
  border-left: 1px solid #b5aca5;
}
@media (max-width: 1200px) {
  .footer_item:nth-child(1) {
    padding-left: 0;
    border: 0;
  }
}
@media (max-width: 1200px) {
  .footer_item:nth-child(3) {
    width: 70%;
  }
}
.footer_item_component {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_item_component.desctop {
  display: flex;
}
.footer_item_component.desctop ul {
  flex-direction: row;
}
@media (max-width: 768px) {
  .footer_item_component.desctop {
    display: none;
  }
}
.footer_item_component ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_item_component li {
  list-style: none;
}
.footer_item_component a {
  text-decoration: none;
  color: #0d0d0d;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.48px;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .footer_item_component a {
    font-size: 14px;
  }
}
.footer_item_component a:hover {
  color: #ef472d;
}
@media (max-width: 768px) {
  .footer_item_component.child2 {
    border-right: 1px solid rgba(181, 172, 165, 0.4862745098);
  }
}
.footer_item_component.child2 ul {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer_item_component.child2 ul li {
  width: calc(50% - 5px);
}
@media (max-width: 768px) {
  .footer_item_component.child2 ul li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer_item_component.child2 ul li img {
    width: 100%;
    object-fit: contain;
  }
}
.footer_item_component_qr {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .footer_item_component_qr {
    display: none;
  }
}
.footer_item_component_qr div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.footer_item_component_qr img {
  width: 80px;
  height: 80px;
}
.footer_item_component_qr .button {
  background: #d4c8bf;
}

.modal {
  background: rgba(243, 239, 236, 0.8);
  width: 100%;
  position: fixed;
  z-index: 222;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px 15px;
  overflow-y: auto;
  display: none;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal.thanks {
  display: none;
}
@media (max-width: 768px) {
  .modal.modal_2 .forms_img img {
    height: 220px;
    object-fit: contain;
  }
}
.modal .close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .modal .close_modal {
    background: rgba(228, 223, 219, 0.8) !important;
    top: 0;
    right: 0;
  }
}
.modal .container {
  max-width: 994px;
  background: #fff;
  padding: 0;
  position: relative;
}
@media (max-width: 768px) {
  .modal .container {
    gap: 0;
  }
}
@media (max-width: 768px) {
  .modal .container .forms_img img {
    height: 220px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .modal .container .section_title {
    font-size: 36px !important;
  }
}
.modal .container .forms_img {
  line-height: 0;
}
.modal .container .form {
  padding: 40px 40px 40px 20px;
}
@media (max-width: 768px) {
  .modal .container .form {
    padding: 20px 10px;
  }
}
.modal .container .form .section_title {
  font-size: 48px;
}
.modal .thanks_content {
  width: calc(100% - 20px);
  max-width: 497px;
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
}
.modal .thanks_content .close_modal {
  background: #fff;
}
.modal .thanks_content .section_title {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -3.2px;
}
@media (max-width: 768px) {
  .modal .thanks_content .section_title {
    font-size: 36px;
  }
}
.modal .thanks_content .modal_description {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.96px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .modal .thanks_content .modal_description {
    font-size: 16px;
  }
}
.modal .thanks_content .button {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #0d0d0d;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  color: #0d0d0d;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  padding: 16px 20px;
  background: #fff4e2;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  outline: none;
  cursor: pointer;
  border: none;
}
.button.black {
  background: #0d0d0d;
  color: #fff;
  transition: all 0.3s linear;
}
.button.black:hover {
  background: #ff573d;
}

.section_title {
  color: #0d0d0d;
  font-family: "Tenor Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.4px;
}
@media (max-width: 768px) {
  .section_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
}

.custom_checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.custom_checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #f3efec;
  cursor: pointer;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #817b77;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s ease;
}

.custom_checkbox input:checked + .checkmark::after {
  opacity: 1;
}

.fancybox__container {
  z-index: 100000 !important;
}/*# sourceMappingURL=style.css.map */